<ng-container *ngFor="let fileName of files | objectKeys">
  <ng-template
    [ngTemplateOutlet]="fileItem"
    [ngTemplateOutletContext]="{ item: files[fileName], fileName: fileName, level: 0 }"
  ></ng-template>
</ng-container>

<ng-template #fileItem let-item="item" let-fileName="fileName" let-level="level">
  <ng-container *ngIf="toItem(item) as item">
    <div [ngStyle]="{ 'margin-left.px': 14 * level }">
      {{ fileName }}
    </div>

    <ng-container *ngIf="(item.children | objectKeys)?.length">
      <ng-container *ngFor="let childFileName of item.children | objectKeys">
        <ng-template
          [ngTemplateOutlet]="fileItem"
          [ngTemplateOutletContext]="{ item: item.children[childFileName], fileName: childFileName, level: level + 1 }"
        ></ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
