@import "fonts";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/nano/theme.css";

html {
  font-size: 13px;
}

body {
  padding: 0;
  margin: 0;
  color: #212121;
  font-family: 'Inter', sans-serif !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: white;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.p-component {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}


.drag-header {
  -webkit-app-region: drag;
}

img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-splitter {
  border: 0;
  border-radius: 0;
}

.p-scrollpanel-bar {
  background-color: #6c6c6c !important;
}

.drop-service {
  &.p-draggable-enter {
    background-color: rgba(43, 98, 220, 0.6) !important;
  }
}
