@import "primeng/resources/themes/nano/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/all.css";

html {
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
  color: #212121;
  font-family: "Avenir Next Cyr", "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drag-header {
  -webkit-app-region: drag;
}

img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
