@import "fonts";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/nano/theme.css";

html {
  font-size: 13px;
}

body {
  padding: 0;
  margin: 0;
  color: #212121;
  font-family: 'Inter', sans-serif !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: white;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.p-component {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}


.drag-header {
  -webkit-app-region: drag;
}

img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-splitter {
  border: 0;
  border-radius: 0;
}

.p-scrollpanel-bar {
  background-color: #6c6c6c !important;
}

.droppable-service-zone {
  background-color: rgba(0, 127, 208, 0.4);
  border: 2px dashed rgb(51, 174, 255);
}

.p-tooltip-text {
  background-color: var(--gray-600) !important;
  padding: 0.6rem !important;
  border-radius: 0.375rem !important;
}

.p-tooltip-arrow {
  display: none !important;
}

.p-splitter-gutter {
  background-color: rgba(0, 0, 0, 0.9) !important;

  .p-splitter-gutter-handle {
    display: none !important;
  }
}

.p-contextmenu {
  border: 1px solid var(--gray-500) !important;
  background: var(--gray-700) !important;
  color: white !important;
  padding-left: 5px;
  padding-right: 5px;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #405b9b !important;
  border-radius: 0.375rem;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: white !important;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon {
  color: white !important;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {
  color: #6d8fdc !important;
}

.p-contextmenu .p-submenu-list {
  border: 1px solid var(--gray-500) !important;
  background: var(--gray-700) !important;
  padding-left: 5px;
  padding-right: 5px;
}

.p-contextmenu .p-menuitem-link .p-menuitem-text {
  color: white !important;
}

.p-contextmenu .p-menu-separator {
  border-top: 1px solid var(--gray-500) !important;
  margin: 0.25rem 0 !important;
}
