<div
  class="w-full h-full border-round-lg flex align-items-center justify-content-center"
  pDraggable="services"
  [class.hover:bg-gray-600]="(activePanel$ | async) !== panelType"
  [class.bg-blue-600]="(activePanel$ | async) === panelType && (panelInfo$ | async)?.activeService === serviceType"
  [class.bg-gray-500]="(activePanel$ | async) !== panelType && (panelInfo$ | async)?.activeService === serviceType"
  (onDragStart)="dragStart()"
  (onDragEnd)="dragEnd()"
  [pTooltip]="serviceInfo[serviceType]?.tooltip"
  [escape]="false"
  (click)="clickButton()"
>
  <img [src]="serviceInfo[serviceType]?.src" class="w-full p-2" alt="service" />
</div>
