<app-header></app-header>

<div class="flex" style="height: calc(100vh - 6rem)">
  <app-left-panel></app-left-panel>

  <div class="flex-grow-1">
    <div class="w-full h-full">
      <ng-container *ngIf="(bottomPanel$ | async)?.isShow; else bottomPanelHide">
        <ng-template [ngTemplateOutlet]="bottomPanelActive"></ng-template>
      </ng-container>

      <ng-template #bottomPanelHide>
        <ng-container *ngIf="(leftPanel$ | async)?.isShow; else leftPanelHide">
          <ng-template [ngTemplateOutlet]="leftPanelActive"></ng-template>
        </ng-container>

        <ng-template #leftPanelHide>
          <ng-container *ngIf="(rightPanel$ | async)?.isShow; else rightPanelHide">
            <ng-template [ngTemplateOutlet]="rightPanelActive"></ng-template>
          </ng-container>
          <ng-template #rightPanelHide>
            <div class="col flex align-items-center justify-content-center h-full">Panel 2</div>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>

  <ng-template #bottomPanelActive>
    <p-splitter
      styleClass="h-full"
      layout="vertical"
      [panelSizes]="[100 - ((bottomPanel$ | async)?.size || 0), (bottomPanel$ | async)?.size || 0]"
      (onResizeEnd)="onResizeEndPanel($event, PanelEnum.BOTTOM)"
    >
      <ng-template pTemplate="">
        <ng-container *ngIf="(leftPanel$ | async)?.isShow; else leftPanelHide">
          <ng-template [ngTemplateOutlet]="leftPanelActive"></ng-template>
        </ng-container>

        <ng-template #leftPanelHide>
          <ng-container *ngIf="(rightPanel$ | async)?.isShow; else rightPanelHide">
            <ng-template [ngTemplateOutlet]="rightPanelActive"></ng-template>
          </ng-container>
          <ng-template #rightPanelHide>
            <div class="col flex align-items-center justify-content-center h-full">Panel 2</div>
          </ng-template>
        </ng-template>
      </ng-template>
      <ng-template pTemplate="">
        <ng-template [ngTemplateOutlet]="servicePanel" [ngTemplateOutletContext]="{ panel: PanelEnum.BOTTOM }"></ng-template>
      </ng-template>
    </p-splitter>
  </ng-template>

  <ng-template #leftPanelActive>
    <p-splitter
      styleClass="h-full"
      [panelSizes]="[(leftPanel$ | async)?.size || 0, 100 - ((leftPanel$ | async)?.size || 0)]"
      (onResizeEnd)="onResizeEndPanel($event, PanelEnum.LEFT)"
    >
      <ng-template pTemplate="">
        <ng-template [ngTemplateOutlet]="servicePanel" [ngTemplateOutletContext]="{ panel: PanelEnum.LEFT }"></ng-template>
      </ng-template>
      <ng-template pTemplate="">
        <ng-container *ngIf="(rightPanel$ | async)?.isShow; else rightPanelHide">
          <ng-template [ngTemplateOutlet]="rightPanelActive"></ng-template>
        </ng-container>
        <ng-template #rightPanelHide>
          <div class="col flex align-items-center justify-content-center h-full">Panel 2</div>
        </ng-template>
      </ng-template>
    </p-splitter>
  </ng-template>

  <ng-template #rightPanelActive>
    <p-splitter
      styleClass="h-full"
      [panelSizes]="[100 - ((rightPanel$ | async)?.size || 0), (rightPanel$ | async)?.size || 0]"
      (onResizeEnd)="onResizeEndPanel($event, PanelEnum.RIGHT)"
    >
      <ng-template pTemplate="">
        <div class="col flex align-items-center justify-content-center h-full">Panel 2</div>
      </ng-template>
      <ng-template pTemplate="">
        <ng-template [ngTemplateOutlet]="servicePanel" [ngTemplateOutletContext]="{ panel: PanelEnum.RIGHT }"></ng-template>
      </ng-template>
    </p-splitter>
  </ng-template>

  <ng-template #servicePanel let-panel="panel">
    <div class="flex-grow-1" (click)="clickToPanel(panel)">
      <app-service-switch [panelType]="panel"></app-service-switch>
    </div>
  </ng-template>

  <app-right-panel></app-right-panel>
</div>

<footer class="h-2rem bg-black-alpha-80 w-full border-top-1 border-black-alpha-90"></footer>
