<app-header></app-header>

<div class="flex" style="height: calc(100vh - 6rem)">
  <app-left-panel></app-left-panel>

  <div class="flex-grow-1">
    <div class="w-full h-full">
      <p-splitter styleClass="h-full" layout="vertical">
        <ng-template pTemplate="">
          <p-splitter>
            <ng-template pTemplate="">
              <div class="flex-grow-1">
                <app-service-switch [panelType]="PanelEnum.LEFT"></app-service-switch>
              </div>
            </ng-template>
            <ng-template pTemplate="">
              <p-splitter>
                <ng-template pTemplate="">
                  <div class="col flex align-items-center justify-content-center">Panel 2</div>
                </ng-template>
                <ng-template pTemplate="">
                  <div class="flex-grow-1">
                    <app-service-switch [panelType]="PanelEnum.RIGHT"></app-service-switch>
                  </div>
                </ng-template>
              </p-splitter>
            </ng-template>
          </p-splitter>
        </ng-template>
        <ng-template pTemplate="">
          <div class="flex-grow-1">
            <app-service-switch [panelType]="PanelEnum.BOTTOM"></app-service-switch>
          </div>
        </ng-template>
      </p-splitter>
    </div>
  </div>

  <div class="w-4rem h-full bg-black-alpha-80 border-left-1 border-black-alpha-90"></div>
</div>

<footer class="h-2rem bg-black-alpha-80 w-full border-top-1 border-black-alpha-90"></footer>
