<header class="h-4rem bg-black-alpha-70 w-full border-bottom-1 border-black-alpha-90">
  <div class="flex align-items-center">
    <div class="flex align-items-center justify-content-center w-4rem h-4rem relative">
      <img src="assets/icons/favicon.png" class="w-2rem h-2rem" alt="logo" />
      <div class="absolute w-4rem h-4rem z-1"></div>
    </div>
    <div class="flex-grow-1 h-4rem w-full drag-header"></div>
    <div
      class="flex align-items-center justify-content-center w-4rem h-4rem cursor-pointer hover:bg-black-alpha-60"
      (click)="hideProgram()"
    >
      <i class="pi pi-minus font-bold text-300"></i>
    </div>
    <div
      class="flex align-items-center justify-content-center w-4rem h-4rem cursor-pointer hover:bg-black-alpha-60"
      (click)="isMaximized ? setMinimizedProgram() : setFullScreenProgram()"
    >
      <i class="pi font-bold text-300" [class.pi-window-maximize]="!isMaximized" [class.pi-window-minimize]="isMaximized"></i>
    </div>
    <div
      class="flex align-items-center justify-content-center w-4rem h-4rem cursor-pointer hover:bg-black-alpha-60"
      (click)="closeProgram()"
    >
      <i class="pi pi-times font-bold text-300"></i>
    </div>
  </div>
</header>

<div class="flex" style="height: calc(100vh - 6rem)">
  <div class="w-4rem h-full bg-black-alpha-80"></div>

  <div class="flex-grow-1">
    <p-splitter styleClass="w-full h-full" layout="vertical">
      <ng-template pTemplate="">
        <p-splitter styleClass="w-full h-full">
          <ng-template pTemplate="">
            <div class="col flex align-items-center justify-content-center">Panel 1</div>
          </ng-template>
          <ng-template pTemplate="">
            <p-splitter styleClass="w-full h-full">
              <ng-template pTemplate="">
                <div class="col flex align-items-center justify-content-center">Panel 2</div>
              </ng-template>
              <ng-template pTemplate="">
                <div class="col flex align-items-center justify-content-center">Panel 3</div>
              </ng-template>
            </p-splitter>
          </ng-template>
        </p-splitter>
      </ng-template>
      <ng-template pTemplate="">
        <div class="col flex align-items-center justify-content-center">Panel 4</div>
      </ng-template>
    </p-splitter>
  </div>

  <div class="w-4rem h-full bg-black-alpha-80"></div>
</div>

<footer class="h-2rem bg-black-alpha-80 w-full border-top-1 border-black-alpha-90"></footer>
